* {
  box-sizing: border-box;
  outline: none;
}

/* ボディ処理 */
body{
    background-color: cornflowerblue;
    margin:0;
    padding:0;
    text-align:left;
    font-size: 32px;

}

/* ヘッダー処理 */
header{
    background-color: #fff;
    text-align: center;
    margin: 3%;
    width: 95%;
    font-size:80%;
    box-shadow: 3px 3px 3px 3px #555;

}


/* メイン処理 */

main{
    border-bottom:1px solid #ccc;
    position:relative;
}


p{
    font-size:200%;
    text-align: center;
    border-bottom:1px solid #fff;
    height:200px;
}

/* addボタンの実装 */
.add {
  position: fixed;
  right: 1rem;
  background-color:chocolate;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

/* .add:active {
  transform: scale(0.98);
} */

ul{
    padding: 0;
    border-top: 1px solid #000000;
    display:table;  /* 定義 */
    table-layout: fixed;
    width:100%;
}

li{
    list-style-type:none;
    border: 1px solid #666;
    background-color: #FFF;
    display:table-cell;  /* 定義 */
    cursor: pointer;
    justify-content: center;
}

li:hover{
    background: #0066CC;
    color:#fff;
}

input,textarea{
    margin: 3%;
    width: 95%;
    font-size:80%;
    box-shadow: 3px 3px 3px 3px #555;
}
input{
    height: 30px;
}
textarea{
    height: 230px;
}


.memo {
  background-color: #fff;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.1);
  margin: 30px 20px;
  height: 400px;
  width: 400px;
  overflow-y: scroll;
}

.memo .tools {
  background-color: #9ec862;
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem;
}

.memo .tools button {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  margin-left: 0.5rem;
}

.memo textarea {
  outline: none;
  font-family: inherit;
  font-size: 1.2rem;
  border: none;
  height: 400px;
  width: 100%;
  padding: 20px;
}




/* フッター処理 */
footer {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  text-align: center;
}


/* フッター処理 */
.footer_title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #707070;
  font-size: 18px;
  color: white;
  padding: 20px;
}
