* {
  
  box-sizing: border-box;
  outline: none;
}

/* ヘッダー処理 */
header{
    background-color: #fff;
    text-align: center;
    margin: 3%;
    width: 95%;
    font-size:80%;
    box-shadow: 3px 3px 3px 3px #555;

}

body{
    background-color: cornflowerblue;
    margin:0;
    padding:0;
    padding-top: 3rem;
    text-align:left;
    font-size: 32px;
    /* flexアイテムにする */
    display: flex;
    /* flexアイテムを複数行に分割 */
    flex-wrap: wrap;
}

/* addボタンの実装 */
.add {
  position: fixed;
  right: 2rem;
  background-color:chocolate;
  color: #fff;
  border-radius: 3px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.add:active {
  transform: scale(0.98);
  box-shadow: none;
}

.memo {
  background-color: #fff;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.1);
  margin: 40px 20px;
  height: 400px;
  width: 400px;
  overflow-y: scroll;
}

.memo .tools {
  background-color: #9ec862;
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem;
}

.memo .tools button {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  margin-left: 0.5rem;
}

.memo textarea {
  outline: none;
  font-family: inherit;
  font-size: 1.2rem;
  border: none;
  height: 400px;
  width: 100%;
  padding: 20px;
}

.hidden {
  display: none;
}


/* フッター処理 */
footer {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  text-align: center;
}

/* フッター処理 */
.footer_title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #707070;
  font-size: 18px;
  color: white;
  padding: 20px;
}

